<div class="footer-wrapper">
    <div class="container">
        <p>Copyright © 2015-2016 北京诸葛找房信息技术有限公司&nbsp;｜&nbsp;京公网安备 11010502032800
            <span class="line">|</span>All Rights Reserved 京ICP备16062318号&nbsp;｜&nbsp;隐私声明</p>
    </div>
</div>